.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.paginationControlsContainer {
  background: #eaeaea;
}
.paginationControls {
  display: flex;
  height: 35px;
  align-items: center; 
  flex-direction: row;
}

.paginationControls p {
  margin: 0 10px;
  font-size: 14px;
}

.paginationControls button {
  cursor: pointer;
  background: #cacaca;
  transition: all .2s ease;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 35px;
  font-size: 18px;
  line-height: 22px;
}

.previousButton {
  border-top-left-radius: 5px;
}

.paginationControls button:hover {
  background: #2b2b2b;
  color: white;
}

.previousButton:before {
  clip-path: polygon(9.8px 12.8px,8.7px 12.8px,4.5px 8.5px,4.5px 7.5px,8.7px 3.2px,9.8px 4.3px,6.1px 8px,9.8px 11.7px,9.8px 12.8px);
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  background-color: currentcolor;
}

.nextButton:after {
  clip-path: polygon(6.2px 3.2px,7.3px 3.2px,11.5px 7.5px,11.5px 8.5px,7.3px 12.8px,6.2px 11.7px,9.9px 8px,6.2px 4.3px,6.2px 3.2px);
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  background-color: currentcolor;
}

.issueNumber {
  color: #7a7a7a;
}

.issueRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.issueRow .issueTitle {
  margin-bottom: 10px;
}

.issueDetails {
  color: #5a5a5a;
  font-size: 14px;
}

.issueDetails > p {
  margin: 0;
}

.issueRowRight {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.issueRowRight > div {
  margin-right: 10px;
}

.commentCount {
  display: flex;
  align-items: flex-start;
}

.commentCount span {
  margin-left: 2px;
  font-size: 12px;
  font-weight: 600;
}
